<%- include("../../shared/includes/head", {PageTitle: "Your-Cart"})  %>
<link rel="stylesheet" href="/style/cart.css">
<script src="/scripts/update-item.js" defer></script>
</head>
<body>
    <%- include("../../shared/includes/header") %>
 <main>
    <h1>Your Cart</h1>
  
    <section id="cart">
      <ul id="cart-items">
        <% for(const cartItem of locals.cart.items) { %>
        <li>
            <%- include('includes/cart-item', { item: cartItem}) %>
        </li>
        <% } %>
      </ul>
      <div id="total-cart">
        <p>Total: $ <span><%= locals.cart.itemsTotalPrice.toFixed(2) %></span></p>
      
        <button class="btn">Buy Product</button>
    </div>
    </section>

 </main>



<%- include("../../shared/includes/footer") %>